@import url('https://fonts.googleapis.com/css2?family=Overpass');
@import url('https://fonts.googleapis.com/css2?family=Overpass&family=Zilla+Slab');

body {
    display: flex;
}
#navbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: aqua;
    text-align: center;
    padding: 20px;
    font-family: Overpass, sans-serif;
}
code {
    display: block;
    text-align: left;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    color: black;
}
#navbar {
    text-transform: uppercase;
    font-size: 32px;
}
#navbar h1 {
    text-decoration: underline yellowgreen dashed;
    text-underline-position: under;
}
#nav-list {
    text-align: center;
    scroll-behavior: smooth;
}
#nav-list a {
    padding: 5px;
    text-decoration: none;
    color: black;
}
img {
    border-radius: 20px;
}
#nav-list a:hover{
    transition: 0.5s ease-out;
    border: dashed yellowgreen;
    border-radius: 10px;
}
#nav-list ul {
    text-align: center;
    list-style: none;
}
#nav-list li {
    text-emphasis: none;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}
#nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
main {
    font-family: Zilla Slab;
    margin-left: 390px;
    padding: 12px;
    color: white;
    background-color: darkblue;
    float: left;
    border-radius: 20px;
    scroll-behavior: smooth;
}
main section {
    padding-bottom: 15px;
    margin-bottom: 10px;
    border: yellow dashed;
    border-width: 0.5px;
    border-radius: 20px;
    padding: 50px;
}
main section h1 {
    text-transform: uppercase;
}
main section p {
    font-size: 20px;
}
#introduction img, #C_vs_C img {
    margin: auto;
    display: block;
}
#C_vs_C img {
    width: 25%;
}
#variable_names li, #data_types li {
    margin: 10px;
    font-size: 20px;
}
@media (max-width: 350px) {
    section {
        padding: 3px;
    }
}