@import url('https://fonts.googleapis.com/css2?family=Overpass');
@import url('https://fonts.googleapis.com/css2?family=Overpass&family=Zilla+Slab');

body {
    display: flex;
}
#navbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: aqua;
    text-align: center;
    padding: 20px;
    font-family: Overpass, sans-serif;
}
code {
    display: block;
    text-align: left;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    color: black;
}
#navbar {
    text-transform: uppercase;
    font-size: 32px;
}
#nav-list {
    text-align: center;
    scroll-behavior: smooth;
}
#nav-list ul {
    text-align: center;
    list-style: none;
}
#nav-list li {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}
#nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
main {
    font-family: Zilla Slab;
    margin-left: 390px;
    padding: 12px;
    color: white;
    background-color: darkblue;
    float: left;
    border-radius: 20px;
}
main section {
    padding-bottom: 15px;
    margin-bottom: 10px;
    border: yellow dashed;
    border-width: 0.5px;
    border-radius: 20px;
    padding: 50px;
}
main section h1 {
    text-transform: uppercase;
}
main section p {
    font-size: 20px;
}